###############################################################################
# ОС / редакторы / IDE
###############################################################################
# macOS
.DS_Store
# Windows
Thumbs.db
# JetBrains / VS Code
.idea/
.vscode/
*.iml

###############################################################################
# Общие временные файлы и логи
###############################################################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/
pids/
*.pid
*.seed
*.tgz
tmp/
temp/

###############################################################################
# Зависимости
###############################################################################
# Любые node_modules в клиенте и сервере
node_modules/

###############################################################################
# Сборки и кеши (Vite, Next, tsc и др.)
###############################################################################
dist/
build/
out/
.vite/
.vite/deps/
.next/
.cache/
coverage/
.nyc_output/

###############################################################################
# Файлы конфигурации среды
# (оставляем пример, если он есть: .env.example)
###############################################################################
.env*
!.env.example
